/*
 * Copyright (c) 2023 Daniel Ferrer
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

        macros {
              // Cmd+K (switch conversation) then type a pinned project name, then Enter.
              // Replace the typed letters below with your real project name before flashing.
              claude_proj_a: claude_proj_a {
                label = "ZM_CLAUDE_PROJECT_A";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <10>;
                bindings
                        = <&macro_tap &kp LG(K)>
                        , <&macro_tap &kp P>
                        , <&macro_tap &kp R>
                        , <&macro_tap &kp O>
                        , <&macro_tap &kp J>
                        , <&macro_tap &kp E>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp T>
                        , <&macro_tap &kp SPACE>
                        , <&macro_tap &kp A>
                        , <&macro_tap &kp RET>
                        ;
              };

              claude_proj_b: claude_proj_b {
                label = "ZM_CLAUDE_PROJECT_B";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <10>;
                bindings
                        = <&macro_tap &kp LG(K)>
                        , <&macro_tap &kp P>
                        , <&macro_tap &kp R>
                        , <&macro_tap &kp O>
                        , <&macro_tap &kp J>
                        , <&macro_tap &kp E>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp T>
                        , <&macro_tap &kp SPACE>
                        , <&macro_tap &kp B>
                        , <&macro_tap &kp RET>
                        ;
              };

              claude_proj_c: claude_proj_c {
                label = "ZM_CLAUDE_PROJECT_C";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <10>;
                bindings
                        = <&macro_tap &kp LG(K)>
                        , <&macro_tap &kp P>
                        , <&macro_tap &kp R>
                        , <&macro_tap &kp O>
                        , <&macro_tap &kp J>
                        , <&macro_tap &kp E>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp T>
                        , <&macro_tap &kp SPACE>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp RET>
                        ;
              };

              claude_proj_d: claude_proj_d {
                label = "ZM_CLAUDE_PROJECT_D";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <10>;
                bindings
                        = <&macro_tap &kp LG(K)>
                        , <&macro_tap &kp P>
                        , <&macro_tap &kp R>
                        , <&macro_tap &kp O>
                        , <&macro_tap &kp J>
                        , <&macro_tap &kp E>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp T>
                        , <&macro_tap &kp SPACE>
                        , <&macro_tap &kp D>
                        , <&macro_tap &kp RET>
                        ;
              };

        };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------------------------------------------
// | QUICK   | VOICE    | NEW CHAT | STOP        |
// | SEARCH  | SIDEBAR  | PROJ A   | PROJ B      |
// | SEND    | CODE: 1  | CODE: 2  | ZOOM IN     |
// | SEND*   | ZOOM OUT | CODE: 3  | PROJ C | PROJ D
// -------------------------------------------------------------------
// QUICK/VOICE send F19/F20 -- bind those as the Custom "Quick access"
// and "Voice" shortcuts in Claude Desktop (Settings > Desktop app > General).
// CODE: 1/2/3 send the digit keys Claude Code's permission prompts read
// directly (Deny/Allow once/Allow always -- the exact action per digit
// shifts depending on how many options the prompt shows, so these just
// press the position, same as typing 1/2/3 on a regular keyboard).
// ZOOM IN/OUT (Cmd +/-) are confirmed Claude Desktop shortcuts.
// SEND* is the encoder's push-button (this PCB's combo Cherry MX/EC11 socket
// wires the encoder click into the matrix as this key) -- pairs with the
// encoder's scroll-conversation rotation below: rotate to read, click to send.
            bindings = <
                &kp F19    &kp F20        &kp LG(O)       &kp ESC
                &kp LG(K)  &kp LG(LS(S))  &claude_proj_a  &claude_proj_b
                &kp RET    &kp N1         &kp N2          &kp LG(EQUAL)
    &kp RET  &kp LG(MINUS)  &kp N3  &claude_proj_c  &claude_proj_d
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
