/*
 * Copyright (c) 2023 Daniel Ferrer
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

        macros {
              // Cmd+K (switch conversation) then type a pinned project name, then Enter.
              // Replace the typed letters below with your real project name before flashing.
              claude_proj_a: claude_proj_a {
                label = "ZM_CLAUDE_PROJECT_A";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <10>;
                bindings
                        = <&macro_tap &kp LG(K)>
                        , <&macro_tap &kp P>
                        , <&macro_tap &kp R>
                        , <&macro_tap &kp O>
                        , <&macro_tap &kp J>
                        , <&macro_tap &kp E>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp T>
                        , <&macro_tap &kp SPACE>
                        , <&macro_tap &kp A>
                        , <&macro_tap &kp RET>
                        ;
              };

              claude_proj_b: claude_proj_b {
                label = "ZM_CLAUDE_PROJECT_B";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <10>;
                bindings
                        = <&macro_tap &kp LG(K)>
                        , <&macro_tap &kp P>
                        , <&macro_tap &kp R>
                        , <&macro_tap &kp O>
                        , <&macro_tap &kp J>
                        , <&macro_tap &kp E>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp T>
                        , <&macro_tap &kp SPACE>
                        , <&macro_tap &kp B>
                        , <&macro_tap &kp RET>
                        ;
              };

              claude_proj_c: claude_proj_c {
                label = "ZM_CLAUDE_PROJECT_C";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <10>;
                bindings
                        = <&macro_tap &kp LG(K)>
                        , <&macro_tap &kp P>
                        , <&macro_tap &kp R>
                        , <&macro_tap &kp O>
                        , <&macro_tap &kp J>
                        , <&macro_tap &kp E>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp T>
                        , <&macro_tap &kp SPACE>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp RET>
                        ;
              };

              claude_proj_d: claude_proj_d {
                label = "ZM_CLAUDE_PROJECT_D";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                wait-ms = <30>;
                tap-ms = <10>;
                bindings
                        = <&macro_tap &kp LG(K)>
                        , <&macro_tap &kp P>
                        , <&macro_tap &kp R>
                        , <&macro_tap &kp O>
                        , <&macro_tap &kp J>
                        , <&macro_tap &kp E>
                        , <&macro_tap &kp C>
                        , <&macro_tap &kp T>
                        , <&macro_tap &kp SPACE>
                        , <&macro_tap &kp D>
                        , <&macro_tap &kp RET>
                        ;
              };

        };


    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------------------------------------------
// | QUICK   | VOICE    | NEW CHAT   | STOP        |
// | SEARCH  | SIDEBAR  | PROJ A     | PROJ B      |
// | SEND    | NUM LOCK | SCRL LOCK  | ZOOM IN     |
// | SEND*   | ZOOM OUT | ZOOM RESET | PROJ C | PROJ D
// -------------------------------------------------------------------
// QUICK/VOICE send F19/F20 -- bind those as the Custom "Quick access"
// and "Voice" shortcuts in Claude Desktop (Settings > Desktop app > General).
// NUM LOCK/SCRL LOCK toggle the right/center status LEDs (see dumbpad.dtsi) as
// free-form flags -- they have no side effect on typing on macOS. The left LED
// passively mirrors the real system Caps Lock state and has no key here.
// ZOOM IN/OUT/RESET (Cmd +/-/0) are confirmed Claude Desktop shortcuts.
// SEND* is the encoder's push-button (this PCB's combo Cherry MX/EC11 socket
// wires the encoder click into the matrix as this key) -- pairs with the
// encoder's scroll-conversation rotation below: rotate to read, click to send.
            bindings = <
                &kp F19    &kp F20        &kp LG(O)       &kp ESC
                &kp LG(K)  &kp LG(LS(S))  &claude_proj_a  &claude_proj_b
                &kp RET    &kp KP_NUM     &kp SLCK        &kp LG(EQUAL)
    &kp RET  &kp LG(MINUS)  &kp LG(N0)  &claude_proj_c  &claude_proj_d
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
